@import url(./__image/news-card__image.css);
@import url(./__save-icon/news-card__save-icon.css);
@import url(./__tooltip-wrapper/news-card__tooltip-wrapper.css);
@import url(./__tooltip-text/news-card__tooltip-text.css);
@import url(./__delete-icon/news-card__delete-icon.css);
@import url(./__tag/news-card__tag.css);
@import url(./__date/news-card__date.css);
@import url(./__title/news-card__title.css);
@import url(./__txt/news-card__txt.css);
@import url(./__media/news-card__media.css);

.news-card {
  flex: 0 1 400px;
  margin: 0 16px 16px 0;
  /* min-width: 224px; */
  max-width: 400px;
  height: 576px;
  background: #ffffff;
  border-radius: 16px;
}

@media screen and (max-width: 980px) {
  .news-card {
    flex: 0 1 224px;
    margin: 0 8px 8px 0;
    max-width: 224px;
    height: 420px;
  }
}

@media screen and (max-width: 740px) {
  .news-card {
    flex: 0 1 288px;
    margin: 0 0 10px 0;
    max-width: 288px;
    height: 444px;
  }
}

.news-card:hover {
  -webkit-box-shadow: 0px 11px 40px -30px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 40px -30px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 40px -30px rgba(0,0,0,0.75);
  transition: 0.6s;
  cursor: pointer;
}