.error-message {
  font-family: Inter, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff3333;
  transition: 0.3s;
  padding: 0px;
  /* opacity: 0; */
  display: none;
}