.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .popup__close {
    top: -42px;
    right: 14px;
  }
}