.search__results-list-button {
  margin: 0 auto 80px;
  width: 288px;
  height: 64px;
  background: #ffffff;
  border-radius: 80px;
  border: none;
  font-weight: 500;
  color: #1a1b22;
}

@media screen and (max-width: 980px) {
  .search__results-list-button {
    margin: 0 auto 40px;
    width: 240px;
    height: 56px;
  }
}

@media screen and (max-width: 740px) {
  .search__results-list-button {
    margin: 0 auto 32px;
    width: 288px;
    height: 56px;
  }
}

.search__results-list-button:focus{
  outline: none;
}

.search__results-list-button:hover {
  cursor: pointer;
  background: #e8e8e8;
}