@import url(./_mop/header__menu_mop.css);

.header__menu {
  margin: 0 104px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: Roboto, Times, serif;;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

}

@media screen and (max-width: 980px) {
  .header__menu {
    margin-right: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 740px) {
  .header__menu {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .header__menu_mop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #1a1b22;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}