.popup__action-link {
  width: 100%;
  margin: 16px auto 0 auto;
  font-family: Inter, Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}