.footer__nav {
  /* margin: 32px 0 24px 0; */
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 0px;
  list-style-type: none;
  font-family: Roboto, Times, serif;;
  color: #1a1b22;
}

@media screen and (max-width: 740px) {
  .footer__nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 10px 16px;
    /* line-height: 48px; */
  }
}