.popup__signin-link-button {
  width: 100%;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 22px;
  text-align: left;
  border: none;
  background-color: #ffffff;
  font-family: Inter, Times, serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #2f71e5;
  cursor: pointer;
}